#repos .repo-item {
    margin: 0 20px;
    width: 170px;
    min-width: 170px;
    height: 170px;
    min-height: 170px;
    box-shadow: 0px 10px 10px rgb(0 0 0 / 0%), -5px 3px 13px rgb(0 0 0 / 20%);
    border-radius: 8px;
    padding: 10px;
}

#repos .repo-item:hover {
    box-shadow: 0px 10px 10px rgb(0 0 0 / 10%), -5px 3px 13px rgb(0 0 0 / 20%);
    transform: scale(1.01);
    transition: .2s;
}

#repos .repo-item__picture {
    display: block;
    line-height: 0;
    margin-bottom: 12px;
}

#repos .repo-item__picture > img {
    width: 100%;
    aspect-ratio: 1/1;
}

#repos .repo-item__title {
    font-family: var(--ff-semibold);
    font-size: var(--text-xl-fs);
    line-height: var(--text-xl-lh);
}

#repos .repo-item__stars {
    color: var(--c-neutral-grey7);
    margin: auto;
}
