.buttonApp {
    grid-area: buttonApp;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 8px 14px;
    border: 1px solid transparent;
    box-shadow: 0 0 0;
    appearance: none;
    height: 44px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    font-family: var(--ff-semibold);
    font-size: 16px;
    color: white;
    background-color: var(--c-primary);
}

.buttonApp:hover:not(:disabled) {
    cursor: pointer;
}

.buttonApp.primary {
    background: var(--c-primary);
    background: var(--gradient-final);
}

.buttonApp.primary,
.buttonApp.primary > span {
    color: var(--c-neutral-white);
}

.buttonApp.primary:hover:not(:disabled) {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.05);
}

.buttonApp.primary:disabled {
    background: var(--c-neutral-grey3);
}

.buttonApp.primary:disabled,
.buttonApp.primary:disabled > span {
    color: var(--c-neutral-grey6);
}

