<footer>
    <div class="footer-menu">
        <span class="logo-image">M. H. Rastegarinia</span>
        <ul>
            <li>
                <a href="#" title="Get support" target="_blank">Get support</a>
            </li>
            <li>
                <a href="#" title="Features" target="_blank">Features</a>
            </li>
            <li>
                <a href="#" title="Powered by .NET" target="_blank">Powered by .NET</a>
            </li>
        </ul>
    </div>
    <p class="copyright">
        © Copyright 2024 M. H. Rastegarinia
    </p>
</footer>