<header id="header">
    <nav>
        <a href="#hero" title="MH Rastegari" class="logo">
            <span class="logo-image">MH Rastegari</span>
        </a>
        <ul id="menu" class="menu">
            <li class="logo-menu-burger">
                <span class="logo-image">MH Rastegari</span>
            </li>
            <li>
                <a href="#skills" title="Skills">Skills</a>
            </li>
            <li>
                <a href="#repos" title="Top Repos">Top Repos</a>
            </li>
            <li>
                <a href="#experience" title="Experience">Experience</a>
            </li>
            <li>
                <a href="#dotnet" title="Powered by .NET">Powered by .NET</a>
            </li>
        </ul>
        <button class="menu-burger" id="menu-burger">
            <svg class="menu-burger__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3 6.75C3 6.33579 3.33579 6 3.75 6H19.75C20.1642 6 20.5 6.33579 20.5 6.75C20.5 7.16421 20.1642 7.5 19.75 7.5H3.75C3.33579 7.5 3 7.16421 3 6.75ZM3 11.75C3 11.3358 3.33579 11 3.75 11H19.75C20.1642 11 20.5 11.3358 20.5 11.75C20.5 12.1642 20.1642 12.5 19.75 12.5H3.75C3.33579 12.5 3 12.1642 3 11.75ZM3.75 16C3.33579 16 3 16.3358 3 16.75C3 17.1642 3.33579 17.5 3.75 17.5H19.75C20.1642 17.5 20.5 17.1642 20.5 16.75C20.5 16.3358 20.1642 16 19.75 16H3.75Z" fill="#fff" />
            </svg>
        </button>
        <button class="close-menu-burger" id="close-menu-burger">
            <svg class="menu-burger__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.2197 6.21967C16.5126 5.92678 16.9874 5.92678 17.2803 6.21967C17.5732 6.51256 17.5732 6.98744 17.2803 7.28033L12.8107 11.75L17.2803 16.2197C17.5732 16.5126 17.5732 16.9874 17.2803 17.2803C16.9874 17.5732 16.5126 17.5732 16.2197 17.2803L11.75 12.8107L7.28033 17.2803C6.98744 17.5732 6.51256 17.5732 6.21967 17.2803C5.92678 16.9874 5.92678 16.5126 6.21967 16.2197L10.6893 11.75L6.21967 7.28033C5.92678 6.98744 5.92678 6.51256 6.21967 6.21967C6.51256 5.92678 6.98744 5.92678 7.28033 6.21967L11.75 10.6893L16.2197 6.21967Z" fill="white" />
            </svg>
        </button>
    </nav>
</header>