@page "/"

<PageTitle>MH Rastegari</PageTitle>

<section class="section section__hero">
    <div class="hero-wrapper">
        <h1 class="hero-title">
            Hello there! <br /> I'm Mohammad Hosein Rastegarinia
        </h1>
        <p class="hero-description">
            I can create your favoriets apps and websites how ever and where ever you like it.<br /> Native, cross-platform, and powered by .NET across Android, iOS, macOS, Windows, and Web.
        </p>
        <ul class="hero-download">
            <li>
                <a href="https://github.com/mhrastegari77"
                   target="_blank"
                   title="MH Rastegari's GitHub account">
                    <img src="images/github.png"
                         alt="MH Rastegari's GitHub account"
                         loading="lazy" />
                </a>
            </li>
            <li>
                <a href="https://twitter.com/mhrastegari77"
                   target="_blank"
                   title="MH Rastegari's Twitter account">
                    <img src="images/twitter.png"
                         alt="MH Rastegari's Twitter account"
                         loading="lazy" />
                </a>
            </li>
            <li>
                <a href="https://linkedin.com/in/mhrastegari77"
                   target="_blank"
                   title="MH Rastegari's LinkedIn account">
                    <img src="images/linkedin.png"
                         alt="MH Rastegari's LinkedIn account"
                         loading="lazy" />
                </a>
            </li>
        </ul>
    </div>
</section>
<section id="skills" class="section">
    <h2 class="section-title" data-title="Skills">Skills</h2>
    <div class="section-grid">
        <p class="section-description">
            Languages I speak and tools I love the most.
        </p>
        <div class="skills-grid">
            <div>
                <img src="images/winui.png" alt="WinUI" loading="lazy" />
                <p>WinUI</p>
            </div>
            <div>
                <img src="images/maui.png" alt=".NET MAUI" loading="lazy" />
                <p>.NET MAUI</p>
            </div>
            <div>
                <img src="images/blazor.png" alt="Blazor" loading="lazy" />
                <p>Blazor</p>
            </div>
            <div>
                <img src="images/teams.png" alt="Microsoft Teams" loading="lazy" />
                <p>Microsoft Teams</p>
            </div>
            <div>
                <img src="images/azuredevops.png" alt="Azure DevOps" loading="lazy" />
                <p>Azure DevOps</p>
            </div>
            <div>
                <img src="images/vs.svg" alt="Visual Studio" loading="lazy" />
                <p>Visual Studio</p>
            </div>
            <div>
                <img src="images/html.png" alt="HTML" loading="lazy" />
                <p>HTML</p>
            </div>
            <div>
                <img src="images/css.png" alt="CSS" loading="lazy" />
                <p>CSS</p>
            </div>
            <div>
                <img src="images/javascript.png" alt="Java Script" loading="lazy" />
                <p>Java Script</p>
            </div>
            <div>
                <img src="images/csharp.svg" alt="CSharp" loading="lazy" />
                <p>CSharp</p>
            </div>
        </div>
    </div>
</section>
<section id="repos" class="section">
    <h2 class="section-title" data-title="Top Repos">Top Repos</h2>
    <div class="section-grid">
        <p class="section-description">
            Here are some of top repos of mine!
        </p>
    </div>
    <div class="section-grid repos-grid">
        <GitHubRepos />
    </div>
    <Button Text="Discover more" Target="_blank" Url="https://github.com/mhrastegari77?tab=repositories" Title="Discover more" />
</section>
<section id="experience" class="section">
    <h2 class="section-title" data-title="Experience">Experience</h2>
    <div class="section-grid">
        <p class="section-description">
            <a href="https://aka.ms/dotnet-maui-landing" target="_blank">We use .NET Multi-platform App UI (.NET MAUI)</a> for almost 2 years which is a cross-platform framework for creating native mobile
            and desktop apps with C# and .NET. This application is compatible across
            iOS, Android, macOS, Windows, as well as a Web experience powered by <a href="https://blazor.net" target="_blank">Blazor</a>.
        </p>
    </div>
    <div class="section-grid experience-grid">
        <div class="devices-wrapper">
            <img src="images/device_Android.png" alt="Android device" loading="lazy" />
            <img src="images/device_iPhone.png"
                    class="devices-float-image"
                    alt="iPhone device"
                    loading="lazy" />
        </div>
        <div class="platforms-wrapper">
            <div>
                <img src="images/available-apple.svg" alt="iOS" loading="lazy" />
                <p>
                    iOS
                </p>
            </div>
            <div>
                <img src="images/available-android.svg" alt="Android" loading="lazy" />
                <p>
                    Android
                </p>
            </div>
            <div>
                <img src="images/available-windows.svg" alt="Windows" loading="lazy" />
                <p>
                    Windows
                </p>
            </div>
            <div>
                <img src="images/available-web.svg" alt="Web" loading="lazy" />
                <p>
                    Web
                </p>
            </div>
        </div>
        <div class="screen-wrapper">
            <img src="images/device_Screen_home.png" alt="Desktop look" loading="lazy" />
        </div>
    </div>
</section>
<section id="dotnet" class="section">
    <h2 class="section-title" data-title="Powered by .NET">Powered by .NET</h2>
    <div class="section-grid">
        <p class="section-description">
            <b>This website is powered by Blazor &amp; hosted in GitHub</b>
        </p>
    </div>
</section>